.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .intro {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .heading {
    padding-top: 9rem;

    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1.2rem;
    color: #555;
  }
  
  .services,
  .whyChoose,
  .applications,
  .contact {
    margin-bottom: 40px;
  }
  
  .subheading {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .serviceList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .service {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
  }
  
  .service h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .service ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  .service li {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .whyChoose ul,
  .applications ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  .whyChoose li,
  .applications li {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .contact p {
    font-size: 1.2rem;
    color: #555;
  }
  