.locationContainer {
    padding: 50px;
    background-color: #f4f4f9;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-out;
  }
  
  /* Header with banner image */
  .header {
    background-image: url('https://i.ibb.co/zJgYttS/banner-5255420-640.webp');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    color: white;
    border-radius: 8px;
    margin-bottom: 30px;
    text-align: center;
    animation: fadeInUp 1.5s ease-out;
  }
  
  .headerTitle {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .headerSubtitle {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  /* Title and Description Section */
  .locationInfo {
    margin-bottom: 30px;
    animation: slideIn 1s ease-out;
  }
  
  .locationTitle {
    font-size: 2rem;
    color: #4f89d4;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    margin-right: 10px;
    font-size: 2rem;
  }
  
  .locationDescription {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: 300;
  }
  
  .additionalInfo {
    font-size: 1rem;
    color: #666;
    font-style: italic;
  }
  
  /* Map Section */
  .mapContainer {
    position: relative;
    animation: fadeInUp 1s forwards;
  }
  
  .map {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .map:hover {
    transform: scale(1.05);
  }
  
  /* Keyframe Animations */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  