.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Adjust height to suit your design */
    background-color: #fcfafa;
  }
  
  .videoElement {
    width: 80%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  